In [1]:
import pandas as pd
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

In [2]:
data1 = pd.read_csv('JC-201906-citibike-tripdata.csv')
data2 = pd.read_csv('JC-201907-citibike-tripdata.csv')
data3 = pd.read_csv('JC-201908-citibike-tripdata.csv')
data4 = pd.read_csv('JC-201909-citibike-tripdata.csv')
data5 = pd.read_csv('JC-201910-citibike-tripdata.csv')

In [3]:
data1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [4]:
newdata = pd.concat([data1, data2, data3, data4, data5])

In [5]:
newdata.reset_index(inplace=True)

In [6]:
newdata.head(2)
newdata.shape

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1

(223384, 16)

In [7]:
newdata1 = newdata.drop('index', axis=1)

In [8]:
newdata1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [9]:
# Drop the missing values
newdata2 = newdata1.dropna(how='any')

In [10]:
newdata2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [11]:
year = 2019

In [12]:
def get_age(i):
    return year - i

test_age = []

for i in newdata2['birth year']:
    test_age.append(get_age(int(i)))

In [13]:
print(len(test_age))

223384

In [14]:
age = pd.Series(test_age)

In [15]:
newdata2.insert(loc=14, column='age', value=age)

In [16]:
newdata2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,26,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,35,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,50,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,50,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,25,1

In [17]:
distance = newdata2
distance.iloc[0:2] 
distance.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,26,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,35,1

(223384, 16)

In [18]:
pip install geopy

Requirement already satisfied: geopy in c:\users\gargi\anaconda3\lib\site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\gargi\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import geopy.distance

In [20]:
start_lat = []
start_lon = []

In [21]:
for i in distance['start station latitude']:
    start_lat.append(i)
for i in distance['start station longitude']:
    start_lon.append(i)

In [22]:
print (len(start_lat))
print (len(start_lon))

223384
223384

In [23]:
distance['start station latitude'] = distance['start station latitude'].astype(str)
distance['start station longitude'] = distance['start station longitude'].astype(str)
distance['end station latitude'] = distance['end station latitude'].astype(str)
distance['end station longitude'] = distance['end station longitude'].astype(str)
distance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223384 entries, 0 to 223383
Data columns (total 16 columns):
tripduration               223384 non-null int64
starttime                  223384 non-null object
stoptime                   223384 non-null object
start station id           223384 non-null int64
start station name         223384 non-null object
start station latitude     223384 non-null object
start station longitude    223384 non-null object
end station id             223384 non-null int64
end station name           223384 non-null object
end station latitude       223384 non-null object
end station longitude      223384 non-null object
bikeid                     223384 non-null int64
usertype                   223384 non-null object
birth year                 223384 non-null int64
age                        223384 non-null int64
gender                     223384 non-null int64
dtypes: int64(7), object(9)
memory usage: 29.0+ MB

In [24]:
distance['Start Coordinates'] = distance['start station latitude'].astype(str) + " , " + \
distance['start station longitude']

In [25]:
distance['End Coordinates'] = distance['end station latitude'].astype(str) + " , " + \
distance['end station longitude']

In [26]:
distance.head(2)
distance.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender,Start Coordinates,End Coordinates
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721123600000006,-74.03805095,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,29677,Subscriber,1993,26,1,"40.721123600000006 , -74.03805095","40.728744799999994 , -74.03210820000001"
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732500000004,-74.04384499999999,3267,Morris Canal,40.7124188237569,-74.03852552175522,29571,Subscriber,1984,35,1,"40.717732500000004 , -74.04384499999999","40.7124188237569 , -74.03852552175522"

(223384, 18)

In [27]:
start_coord_list = distance['Start Coordinates'].tolist()
end_coord_list = distance['End Coordinates'].tolist()

In [28]:
# make sure the length is the same
len_start_coord_list = len(start_coord_list)
len_end_coord_list = len (end_coord_list)

len_start_coord_list
len_end_coord_list

223384

223384

In [29]:
distance.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'age',
 'gender',
 'Start Coordinates',
 'End Coordinates']

In [30]:
distance.loc[:, ['start station name', 'end station name', 'Start Coordinates', 'End Coordinates']].head(2)

,start station name,end station name,Start Coordinates,End Coordinates
0,Warren St,Newport Pkwy,"40.721123600000006 , -74.03805095","40.728744799999994 , -74.03210820000001"
1,City Hall,Morris Canal,"40.717732500000004 , -74.04384499999999","40.7124188237569 , -74.03852552175522"

In [31]:
distance.iloc[0:2, [0,3,6,7]]
distance.iloc[0:2, 0:4]

   tripduration  start station id start station longitude  end station id
0           316              3187            -74.03805095            3199
1           280              3185      -74.04384499999999            3267

,tripduration,starttime,stoptime,start station id
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185

In [32]:
def get_start(start_coord_list, position):
    return start_coord_list[position]

In [33]:
def get_end(end_coord_list, position):
    return end_coord_list[position]

In [34]:
def get_distance():
    return geopy.distance.vincenty(get_start(start_coord_list, i), get_end(end_coord_list, i)).miles

In [35]:
start = get_start(start_coord_list, 1)
end = get_end(end_coord_list, 1)

In [36]:
geopy.distance.vincenty(start, end).miles

0.4609127044914756

In [37]:
distance_list = []
for i in range (0, len_start_coord_list):    
    distance_list.append(get_distance())

In [38]:
print(len(distance_list))
distance.shape

223384

(223384, 18)

In [39]:
distance1 = pd.Series(distance_list)

In [41]:
distance.insert(loc=10, column='Distance(Miles)', value=distance1)

In [42]:
distance.shape
distance.columns

(223384, 19)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'Distance(Miles)', 'end station longitude',
       'bikeid', 'usertype', 'birth year', 'age', 'gender',
       'Start Coordinates', 'End Coordinates'],
      dtype='object')

In [43]:
distance.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,Distance(Miles),end station longitude,bikeid,usertype,birth year,age,gender,Start Coordinates,End Coordinates
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721123600000006,-74.03805095,3199,Newport Pkwy,40.728744799999994,0.611454,-74.03210820000001,29677,Subscriber,1993,26,1,"40.721123600000006 , -74.03805095","40.728744799999994 , -74.03210820000001"
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732500000004,-74.04384499999999,3267,Morris Canal,40.7124188237569,0.460913,-74.03852552175522,29571,Subscriber,1984,35,1,"40.717732500000004 , -74.04384499999999","40.7124188237569 , -74.03852552175522"
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,3199,Newport Pkwy,40.728744799999994,0.000000,-74.03210820000001,26208,Customer,1969,50,0,"40.728744799999994 , -74.03210820000001","40.728744799999994 , -74.03210820000001"
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,3199,Newport Pkwy,40.728744799999994,0.000000,-74.03210820000001,29487,Customer,1969,50,0,"40.728744799999994 , -74.03210820000001","40.728744799999994 , -74.03210820000001"
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.7376037,-74.05247829999999,3207,Oakland Ave,40.7376037,0.000000,-74.05247829999999,29592,Subscriber,1994,25,1,"40.7376037 , -74.05247829999999","40.7376037 , -74.05247829999999"

In [47]:
# calculate seconds to minutes
seconds = distance['tripduration'].tolist()
seconds_len = (len(seconds))
minutes_list = []

def get_min():
    return seconds[i] / 60

In [48]:
seconds_len

223384

In [49]:
for i in range(0, seconds_len):
    minutes_list.append(get_min())

In [50]:
print(len(minutes_list))

223384

In [51]:
tripduration_minutes = pd.Series(minutes_list)

In [53]:
distance.insert(loc=1, column='tripduration(Minutes)', value=tripduration_minutes)

In [55]:
distance.head()
distance.shape

,tripduration,tripduration(Minutes),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,Distance(Miles),end station longitude,bikeid,usertype,birth year,age,gender,Start Coordinates,End Coordinates
0,316,5.266667,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721123600000006,-74.03805095,3199,Newport Pkwy,40.728744799999994,0.611454,-74.03210820000001,29677,Subscriber,1993,26,1,"40.721123600000006 , -74.03805095","40.728744799999994 , -74.03210820000001"
1,280,4.666667,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732500000004,-74.04384499999999,3267,Morris Canal,40.7124188237569,0.460913,-74.03852552175522,29571,Subscriber,1984,35,1,"40.717732500000004 , -74.04384499999999","40.7124188237569 , -74.03852552175522"
2,2162,36.033333,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,3199,Newport Pkwy,40.728744799999994,0.000000,-74.03210820000001,26208,Customer,1969,50,0,"40.728744799999994 , -74.03210820000001","40.728744799999994 , -74.03210820000001"
3,2184,36.400000,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,3199,Newport Pkwy,40.728744799999994,0.000000,-74.03210820000001,29487,Customer,1969,50,0,"40.728744799999994 , -74.03210820000001","40.728744799999994 , -74.03210820000001"
4,139,2.316667,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.7376037,-74.05247829999999,3207,Oakland Ave,40.7376037,0.000000,-74.05247829999999,29592,Subscriber,1994,25,1,"40.7376037 , -74.05247829999999","40.7376037 , -74.05247829999999"

(223384, 20)

In [56]:
distance['Sex'] = distance.gender.map({0:'unknown', 1:'male', 2:'female'})

In [63]:
distance.head()
distance.shape

,tripduration,tripduration(Minutes),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,...,Distance(Miles),end station longitude,bikeid,usertype,birth year,age,gender,Start Coordinates,End Coordinates,Sex
0,316,5.266667,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721123600000006,-74.03805095,3199,Newport Pkwy,...,0.611454,-74.03210820000001,29677,Subscriber,1993,26,1,"40.721123600000006 , -74.03805095","40.728744799999994 , -74.03210820000001",male
1,280,4.666667,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732500000004,-74.04384499999999,3267,Morris Canal,...,0.460913,-74.03852552175522,29571,Subscriber,1984,35,1,"40.717732500000004 , -74.04384499999999","40.7124188237569 , -74.03852552175522",male
2,2162,36.033333,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,3199,Newport Pkwy,...,0.000000,-74.03210820000001,26208,Customer,1969,50,0,"40.728744799999994 , -74.03210820000001","40.728744799999994 , -74.03210820000001",unknown
3,2184,36.400000,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728744799999994,-74.03210820000001,3199,Newport Pkwy,...,0.000000,-74.03210820000001,29487,Customer,1969,50,0,"40.728744799999994 , -74.03210820000001","40.728744799999994 , -74.03210820000001",unknown
4,139,2.316667,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.7376037,-74.05247829999999,3207,Oakland Ave,...,0.000000,-74.05247829999999,29592,Subscriber,1994,25,1,"40.7376037 , -74.05247829999999","40.7376037 , -74.05247829999999",male

(223384, 21)

In [64]:
distance.to_csv('Finaldata.csv', index=False)